@import '~style/helpers';

div.bar {
  margin: 0 auto;
  display:flex;
  background-color: #fff;
  color: @nearblack;
  font-size: 15px;
  border-radius: 25px;
  padding: 1px;
  width:85%;
}

div.dailyText{
  padding-top: 2px;
  font-weight: 500;
  font-size: 18px;
}

div.dailyWeather {
	margin-bottom: 15px;
}

button.caretButton{
  margin-right: 10px;
  margin-bottom: 2px;
	font-size: 20px;
	padding: 0px;
	display: block;
	background: #fff;
	border: 1px solid #fff;
	color: @nearblack;
	font-weight: 600;
	//transition: all 0.3s ease-in-out;
}

.caret {

}

.caretflip {
	transform: rotate(180deg);
}

div.dayBox{
  background-color: @nearblack;
  border-radius:5px;
  width: 97%;
  margin: 0 auto;
  margin-top: 15px;
}

div.whiteBox{
  background-color: #fff;
  border-radius: 5px;
  width: 85%;
  margin: 0 auto;
  padding:5px;
  margin-top: -15px;
  padding-bottom: 10px;
}



div.formInput {

	background: #FFF;
	padding: 5px;
	border-bottom: 1px solid #EEE;
	width: 200px;

	div.inputItem {

		box-sizing: border-box;
		width: 175px;
		padding: 10px;
		background: #JJJ;
		border: 1px solid #DDD;
		border-radius: 5px;
		font-size: 20px;
		outline: none;

		&:focus {
			border-color: #BBB;
		}
	}
}

ul {
	min-height: 50px;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		padding: 5px;
		background: #BBB;
		border-bottom: 1px solid #EEE;

		&:nth-child(2n) {
			background: #BBB;
		}
		&:last-child {
			border-bottom: none;
		}


	}
}

img.image {
  height: 20px;
  width: 20px;
}


// div.CheckList {
//   background-color: #fff;
//   border-radius:5px;
//   width:95%;
//   margin: 0 auto;
// }
